<%- include('./partial/header.ejs',{title:"Form Buy"}) %>
<body>
    <form action="/destinations/buy" method="POST">
        <Label>Username</Label><br>
        <select name="ProfileId">
            <option selected>Choose Your Username</option> 
            <% dataCust.forEach(element => {%>
                <option value="<%= element.id %> "><%= element.User.username %></option> 
                <% });  %> 
            </select><br>
            <Label><%= location %> </Label><br><br>
            <input type="hidden" value="<%= destId %>" name="DestinationId">
            <label>Tanggal Keberangkatan</label><br>
            <input type="date" name="date"><br>
        <input type="submit" value="Buy">
    </form>
</body>
</html>